@font-face {
    font-family: 'Maragsa';
    src: url('../fonts/Maragsa.otf') format('opentype'),
         url('../fonts/Maragsa.woff2') format('woff2'),
         url('../fonts/Maragsa.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
