@use 'fonts';

$primary-color: #16231A;
$secondary-color: #294023;
$accent-color: #B91A17;
$heading-text-color: #4B5320;
$body-text-color: #F6F8EE;
$cta-primary-color: #D0893B; 
$cta-secondary-color: #6B1E1E; 
$heading-font-family: Roboto, Arial, serif;
$body-font-family: Roboto, Arial, serif;
$base-font-size: 14px;
$base-font-weight: 400;