@use 'fonts';

$primary-color: #FAF5EE;
$secondary-color: #F7E9D2;
$tertiary-color: #2D4A3D; 
$primary-accent-color: #6B1E1E; 
$secondary-accent-color: #D0893B; 
$heading-text-color: #4B5320;
$body-text-color: #4B5320;
$alt-text-color: #FAF5EE;
$heading-font-family: Roboto, Arial, serif;
$body-font-family: Roboto, Arial, serif;
$base-font-size: 14px;
$base-font-weight: 400;