@use 'fonts';

$primary-color: white;
$secondary-color: black;
$accent-color: white;
$body-text-color: black;
$heading-font-family: 'Maragsa', Montserrat, serif;
$body-font-family: Montserrat, Arial, sans-serif;
$base-font-size: 14px;
$base-font-weight: 400;