<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css">
    <link href="css/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="BIA">
    <link rel="manifest" href="/images/site.webmanifest">
    <script defer src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.7/gsap.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.7/ScrollTrigger.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.7/TextPlugin.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollToPlugin.min.js"></script>
    <script type="module" src="js/donate.js"></script>
    <title>BIA | Donate</title>
</head>

<body>
    <!--Header-->
    <h1 class="hidden">Donate</h1>
    <div class="bg-tertiary grid-con" id="header-background">
        <header id="main-header" class="col-span-full">

            <a href="index.html" class="logo-anchor">
                <div class="logo">
                    <img src="images/logo.svg" alt="logo">
                    <p>BROTHERS<br>IN ARMS</p>
                </div>
            </a>

            <div id="nav-wrapper">
                <nav id="main-nav">
                    <h2 class="hidden">Main Navigation</h2>
                    <ul>
                        <li><a href="index.html" class="active">Home</a></li>
                        <li>
                            <a href="history.html" id="history-submenu">History</a>
                            <ul class="submenu">
                                <li><a href="india-involvement.html">India in WW1</a></li>
                                <li><a href="history.html#timeline">Timeline</a></li>
                                <li><a href="more-battles.html">More Battles</a></li>
                                <li><a href="regiments.html">Regiments</a></li>
                                <li><a href="awards.html">Awardees</a></li>
                                <li><a href="letters.html">Letters</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="news.html">News &amp; Events</a></li>
                    </ul>
                </nav>
                <div id="sm-icons-con">
                    <h3>Follow Us</h3>
                    <div class="sm-icons">
                        <a href="https://www.facebook.com/SrishtiCanada/" target="_blank"><img src="images/facebook.svg"
                                alt="facebook icon"></a>
                        <a href="https://www.instagram.com/srishticanada" target="_blank"><img
                                src="images/instagram.svg" alt="instagram icon"></a>
                        <a href="https://www.youtube.com/@srishtifoundation9053" target="_blank"><img
                                src="images/youtube.svg" alt="youtube icon"></a>
                        <a href="https://x.com/srishticanada" target="_blank"><img src="images/twitter.svg"
                                alt="twitter icon"></a>
                    </div>
                </div>
                <a class="donate-btn" href="donate.html">Donate</a>
                <div id="menu-button">
                    <span>Menu</span>
                    <div id="hamburger-menu">
                        <div id="line1"></div>
                        <div id="line2"></div>
                        <div id="line3"></div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!--Hero-->
    <div class="bg-hero" id="donate-hero-con">
        <div class="video-background">
            <video autoplay loop muted playsinline>
                <source src="videos/Donation.webm" type="video/mp4">
            </video>
        </div>
        <section class="grid-con section-flex hero-section">
            <h2 class="hidden">Hero Section</h2>
            <div class="col-span-full section-text-con">
                <p>Welcome to the</p>
                <h3 class="section-header hero-header">Brothers in Arms</h3>
                <p class="section-text">A memorial that stands as North America's first tribute honouring
                    the
                    alliance between Indian and Canadian soldiers during World War I. Your support is vital in bringing
                    the
                    Brothers in Arms Memorial to life and preserving it for future generations.</p>
                <a class="section-button" href="donate.html">Support Us</a>
            </div>
        </section>
    </div>

    <!--Donation Stats-->
    <div class="bg-secondary">
        <section id="donation-stats" class="grid-con">
            <h2 class="hidden">Donation Stats</h2>
            <div class="col-span-full" id="donation-stats-con">
                <div>
                    <img src="images/donors.svg" alt="donors icon">
                    <p><span data-value="1457" data-prefix="" data-suffix="">1,457</span><br>Donors</p>
                </div>
                <div>
                    <img src="images/donated.svg" alt="donated icon">
                    <p><span data-value="15457" data-prefix="$" data-suffix="">$15,457</span><br>Donated</p>
                </div>
                <div>
                    <img src="images/volunteers.svg" alt="volunteers icon">
                    <p><span data-value="3000" data-prefix="" data-suffix="+">3,000+</span><br>Volunteers</p>
                </div>
            </div>
        </section>
    </div>

    <!--Volunteer-->
    <section id="volunteer-con" class="grid-con section-flex no-reverse">
        <h2 class="hidden">Volunteering Section</h2>
        <div class="col-span-full section-image-con">
            <img src="images/volunteer.png" alt="srishti foundation volunteers">
        </div>
        <div class="col-span-full section-text-con">
            <h3 class="icon-header info-icon">Get Involved</h3>
            <h4 class="section-header">Volunteering</h4>
            <p class="section-text">Help organize events, maintain the park, or spread the word. Every hour and effort
                makes a difference. Feel free to support us in our mission of preservation.</p>
            <a class="section-button green-button" href="https://www.srishticanada.org/" target="_blank">Learn More</a>
        </div>
    </section>

    <!--Sponsor-->
    <div class="bg-secondary">
        <section id="sponsor-con" class="grid-con section-flex">
            <h2 class="hidden">Sponsorship Section</h2>
            <div class="col-span-full section-text-con">
                <h3 class="icon-header info-icon">Support Us</h3>
                <h4 class="section-header">Sponsorships</h4>
                <p class="section-text">Partner with us to fund key elements of the memorial, from stone installations
                    to community outreach. Find out more on how to sponsorship this exceptional project.</p>
                <a class="section-button" href="https://www.srishticanada.org/" target="_blank">Learn
                    More</a>
            </div>
            <div class="col-span-full section-image-con">
                <img src="images/sponsor.png" alt="srishti foundation sponsors">
            </div>
        </section>
    </div>

    <!--Donation Video-->
    <div class="bg-tertiary" id="video-background">
        <section id="donation-video-con" class="grid-con section-flex">
            <h2 class="hidden">Donation Video Section</h2>
            <div class="col-span-full section-text-con">
                <h3 class="icon-header news-icon">Main Purpose</h3>
                <h4 class="section-header">Behind the Memorial</h4>
            </div>
            <div class="col-span-full">
                <div class="col-span-full video-con">
                    <video class="player" preload="metadata" poster="images/poster.jpg">
                        <source src="videos/interview-teaser.mp4" type="video/mp4">
                        <p>Oops, something went wrong. You may be using an outdated browser or have javascript disabled.
                        </p>
                    </video>
                </div>
            </div>
        </section>
    </div>

    <!--FAQ-->
    <section id="faq-con" class="grid-con">
        <div class="col-span-full section-text-con">
            <h3 class="icon-header calendar-icon">Know More</h3>
            <h4 class="section-header">Frequently Asked Questions</h4>
        </div>

        <div class="faq-card-con col-span-full">
            <div class="faq-card">
                <div class="faq-question">
                    <h4>How can I Donate?</h4>
                    <img class="arrow" src="images/arrow-down.svg" alt="arrow">
                </div>
                <div class="faq-answer">
                    <p>We offer multiple ways to contribute, including our secure online portal, mail-in checks, and
                        in-person donations at events.</p>
                </div>
            </div>
            <div class="faq-card">
                <div class="faq-question">
                    <h4>Where does my donation go?</h4>
                    <img class="arrow" src="images/arrow-down.svg" alt="arrow">
                </div>
                <div class="faq-answer">
                    <p>We offer multiple ways to contribute, including our secure online portal, mail-in checks, and
                        in-person donations at events.</p>
                </div>
            </div>
            <div class="faq-card">
                <div class="faq-question">
                    <h4>Can I donate goods or services instead of money?</h4>
                    <img class="arrow" src="images/arrow-down.svg" alt="arrow">
                </div>
                <div class="faq-answer">
                    <p>We offer multiple ways to contribute, including our secure online portal, mail-in checks, and
                        in-person donations at events.</p>
                </div>
            </div>
            <div class="faq-card">
                <div class="faq-question">
                    <h4>Is my donation tax-deductible?</h4>
                    <img class="arrow" src="images/arrow-down.svg" alt="arrow">
                </div>
                <div class="faq-answer">
                    <p>We offer multiple ways to contribute, including our secure online portal, mail-in checks, and
                        in-person donations at events.</p>
                </div>
            </div>
            <div class="faq-card">
                <div class="faq-question">
                    <h4>Are there volunteer opportunities?</h4>
                    <img class="arrow" src="images/arrow-down.svg" alt="arrow">
                </div>
                <div class="faq-answer">
                    <p>We offer multiple ways to contribute, including our secure online portal, mail-in checks, and
                        in-person donations at events.</p>
                </div>
            </div>
            <div class="faq-card">
                <div class="faq-question">
                    <h4>How do I know my donation has been received?</h4>
                    <img class="arrow" src="images/arrow-down.svg" alt="arrow">
                </div>
                <div class="faq-answer">
                    <p>We offer multiple ways to contribute, including our secure online portal, mail-in checks, and
                        in-person donations at events.</p>
                </div>
            </div>
            <div class="faq-card">
                <div class="faq-question">
                    <h4>How can I become a sponsor?</h4>
                    <img class="arrow" src="images/arrow-down.svg" alt="arrow">
                </div>
                <div class="faq-answer">
                    <p>We offer multiple ways to contribute, including our secure online portal, mail-in checks, and
                        in-person donations at events.</p>
                </div>
            </div>
        </div>
    </section>

    <!--Contact-->
    <div class="bg-secondary">
        <section id="contact-con" class="grid-con no-animation">
            <h2 class="hidden">Contact Form</h2>
            <div id="contact-text" class="col-span-full">
                <h3 class="icon-header phone-icon">Contact</h3>
                <h4 class="section-header">Get In Touch</h4>
                <p class="section-text">Want to support the us? Whether you're interested in donating, volunteering, or
                    have
                    a general inquiry, fill out the form below, and we'll get back to you soon.</p>
                <img src="images/contact-image.png" alt="contact image">
            </div>
            <form @submit.prevent="submitForm" id="contact-form">
                <label for="name">Full Name*</label>
                <input type="text" id="name" v-model="formData.name">

                <label for="email">Email Address*</label>
                <input type="email" id="email" v-model="formData.email">

                <label for="subject">Subject Line*</label>
                <select id="subject" v-model="formData.subject">
                    <option value="" disabled selected>Subject</option>
                    <option value="donation">Donation Inquiry</option>
                    <option value="volunteer">Volunteer Opportunities</option>
                    <option value="sponsorship">Sponsorship</option>
                    <option value="general">General Inquiry</option>
                </select>

                <label for="message">Your Message*</label>
                <textarea id="message" v-model="formData.message" rows="3"></textarea>

                <input type="text" id="honeypot" v-model="formData.honeypot">

                <button type="submit" class="section-button green-button" :class="{'button__circle': submitted}">
                    <div class="container">
                        <span class="tick" v-html="buttonText"></span>
                    </div>
                </button>

                <ul v-if="errors" class="error-messages">
                    <li v-for="error in errors">{{ error }}</li>
                </ul>

                <p v-if="showRequiredMessage" id="form-required">Please fill in all required fields*</p>

                <div v-if="responseMessage" class="success-message">
                    {{ responseMessage }}
                </div>
            </form>
        </section>
    </div>

    <!--Footer-->
    <footer id="main-footer" class="grid-con">
        <div id="top-footer" class="col-span-full">
            <div id="logo-wrapper">
                <a href="index.html" class="logo-anchor">
                    <div class="logo">
                        <img src="images/logo.svg" alt="logo">
                        <p>BROTHERS<br>IN ARMS</p>
                    </div>
                </a>
                <p>Honouring the past<br> to inspire tomorrow.</p>
            </div>

            <div>
                <nav id="footer-nav">
                    <h2 class="hidden">Footer Navigation</h2>

                    <div id="footer-column-1">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="history.html">History</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="news.html">News &amp; Events</a></li>
                        </ul>
                    </div>

                    <div id="footer-column-2">
                        <h3>Support Us</h3>
                        <ul>
                            <li><a href="donate.html">Donation</a></li>
                            <li><a href="donate.html#volunteer">Volunteer</a></li>
                            <li><a href="donate.html#sponsor">Sponsorship</a></li>
                            <li><a href="news.html">Events</a></li>
                        </ul>
                    </div>

                    <div id="footer-column-3">
                        <h3><a href="thankyou.html">Contact Us</a></h3>
                        <ul>
                            <li><a href="mailto:srishticanada@gmail.com">srishticanada@gmail.com</a></li>
                            <li><a href="tel:+11233455678">+1 123 345 5678</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div id="google-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d881.0084319270492!2d-81.13081043035716!3d42.965889879562866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDLCsDU3JzU3LjIiTiA4McKwMDcnNDguNiJX!5e1!3m2!1sen!2sca!4v1739819949326!5m2!1sen!2sca"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>London, ON</p>
            </div>
        </div>
        <div id="newsletter-signup" class="col-span-full">
            <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
            <form class="newsletter-form" action="#" method="POST">
                <input type="email" class="email" name="email" placeholder="Enter your email address" required>
                <button type="submit" class="section-button green-button">Subscribe</button>
            </form>
        </div>

        <div class="line-break col-span-full"></div>

        <div id="middle-footer" class="col-span-full">
            <h4>Follow Us</h4>
            <div id="sm-icons">
                <a href="https://www.facebook.com/SrishtiCanada/" target="_blank"><img src="images/facebook.svg"
                        alt="facebook icon"></a>
                <a href="https://www.instagram.com/srishticanada" target="_blank"><img src="images/instagram.svg"
                        alt="instagram icon"></a>
                <a href="https://www.youtube.com/@srishtifoundation9053" target="_blank"><img src="images/youtube.svg"
                        alt="youtube icon"></a>
                <a href="https://x.com/srishticanada" target="_blank"><img src="images/twitter.svg"
                        alt="twitter icon"></a>
            </div>
        </div>

        <hr class="line-break col-span-full">


        <div id="bottom-footer" class="col-span-full">
            <p>&copy; 2025 Brothers in Arms Memorial. Managed by Srishti Foundation. All rights reserved.</p>
        </div>
    </footer>

    <div id="donation-bubble">
        <img src="images/donation-bubbles.png" alt="Donation reminder">
    </div>
</body>

</html>