@use '../abstracts' as a;

#contact-con {
    display: flex;
    flex-direction: column;

    img {
        display: none;
    }

    #contact-form {
        display: flex;
        flex-direction: column;

        input, textarea, select {
            border: none;
            background-color: rgba(#D9D9D9, 0.3);
            border: 1px solid a.$secondary-accent-color;
            border-radius: 0.25rem;
            padding: 0 1rem;
            height: 3rem;
            font: inherit;
            color: a.$body-text-color;
            text-align: left;
            resize: vertical;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: a.$body-text-color;
            }
        }
        
        textarea {
            min-height: 10rem;
            padding: 1rem;
        }

        label {
            margin: 1rem 0 0.5rem 0;
        }

        button {
            padding: 0.75rem 2.5rem;
        }
    }
    
}

@media screen and (min-width: 768px) {
    #contact-con {
        flex-direction: row;
        justify-content: space-between;

        img {
            border-radius: 0.5rem;
            margin-top: 1.5rem;
            display: block;
        }

        p {
            width: 100%;
        }

        #contact-text {
            width: 40%;
            margin-top: 1.5rem;
        }

        #contact-form {
            width: 52%;
        }
    }
    
}


@media screen and (min-width: 1200px) {
    #contact-con {

        p {
            width: 90%;
        }

        #contact-text {
            width: 40%;
        }

        #contact-form {
            width: 60%;
        }
    }
    
}

