@use '../abstracts' as a;

.donate-btn {
    border: none;
    background-color: a.$cta-secondary-color;
    color: a.$body-text-color;
    font-family: a.$body-font-family;
    font-size: 1.15rem;
    padding: 0.5rem 1rem;
    border-radius: 10rem;

    a {
        all: unset;
    }
}

#donate-con {
    background-color: a.$secondary-color;

    #donate-text {
        margin-top: 5rem;

        p {
            text-align: center;
            color: a.$heading-text-color;
            width: 80%;
            margin: 0 auto;
            font-weight: 500;
            font-size: 1.15rem;

            &:last-of-type {
                margin-top: 10rem;
            }
        }
    }

    #donate {
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {

    #donate-con {

        #donate-text {
            p {
                font-size: 1.5rem;
                width: 58%;
            }
        }
    
        #donate {
            margin: 0 auto;
        }
    }
    

    .donate-btn {
        font-size: 1.25rem;
    }
}