@use '../abstracts' as a;


#memory-game-con {
    * {
        color: a.$secondary-color;
    }

    img {
        margin-top: 2rem;
    }
}


#memory-game-section {

    .section-text-con {
        margin: 0 auto;
        margin-bottom: 2rem;

        p {
            text-align: center;
            width: 100%;
        }

        h4 {
            text-align: center;
        }
    }
}

#memory-game-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    #memory-game {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        aspect-ratio: 4/3;
        position: relative;

        .memory-card {
            width: 100%;
            aspect-ratio: 3/4;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.5s, opacity 0.5s;
            cursor: pointer;
            transform: rotateY(0deg);
            border-radius: 0.5rem;
            opacity: 1;
            
            &.flip {
                transform: rotateY(180deg);
            }

            &.matched {
                opacity: 0;
                pointer-events: none;
            }
        }

        .front-face,
        .back-face {
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
            background: a.$primary-color;
            overflow: hidden;
            border-radius: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.5rem;
                overflow: hidden;
            }
        }

        .front-face {
            transform: rotateY(180deg);
        }

        .back-face {
            transform: rotateY(0deg);
        }

    }

    #match-counter {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        font-weight: bold;
        color: a.$primary-accent-color;
        z-index: 100;
        text-align: center;
        width: 100%;
        pointer-events: none;
    }
}

@media screen and (min-width: 768px) {
  
    #memory-game-con.section-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .section-image-con {
            width: 48%;
            margin: 0;

            img {
                margin-top: 0;
            }
        }
        
        #game-text-con {
            width: 48%;
            margin: 0;

            .section-header {
                width: 100%;
            }

            .section-text-con {
                width: 100%;
            }
        }
    }
}