@use '../abstracts' as a;

#main-header {
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
     
    .logo-anchor {
        all: unset;

        &:hover img {
            transform: rotate(360deg);
        }

        .logo {
            height: 3.5rem;
            cursor: pointer;
            display: flex;
            align-items: center;

            img {
                height: 100%;
                transition: transform 0.3s ease-in-out;
            }

            p {
                line-height: 1;
                font-weight: 600;
                margin-left: 1rem;
                font-size: 1.25rem;
                color: a.$alt-text-color;
                font-family: a.$alt-heading-font-family;
            }
        }
    }

    #menu-header {
        display: none;
    }

    #nav-wrapper {
        @include a.center;
 
        #main-nav {
            display: block;
            position: fixed;
            background-color: a.$tertiary-color;
            z-index: 4;
            top: 6rem;
            left: 0;
            right: 0;
            height: 0;
            overflow: hidden; 
            transition: height 0.3s ease-in-out;

            &.show {
                height: calc(100vh - 6rem);
                flex-direction: column;
            }
        
            ul {
                display: flex;
                flex-direction: column;
                list-style: none;
                padding: 0;
                margin: 0;
                transform: translateY(-1rem);
                transition: transform 0.3s ease-in-out;
            }

            &.show ul {
                transform: translateY(1rem);
            }
        
            li {
                margin-left: 3rem;
                margin-top: 1rem;
                position: relative;
                opacity: 0;
                transform: translateY(1rem);
                transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            }

            &.show li {
                opacity: 1;
            }
        
            a {
                color: a.$alt-text-color;
                text-decoration: none;
                font-weight: 300;
                font-size: 1.5rem;
                display: flex;
                align-items: center;

                &[href*="history"] {
                    &::after {
                        content: url('../images/menu-arrow.svg');
                        width: 0.5rem;
                        margin-left: 1rem;
                    }
                }
            }

            .submenu {
                display: none;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    margin: 0.5rem 0;
                    margin-left: 4rem;

                    a {
                        font-size: 1.25rem;

                        &::before {
                            content: none;
                        }
                    }
                }
            }

            &.show .submenu {
                display: block;
            }
        }

        #sm-icons-con {
            position: fixed;
            top: 25rem;
            left: 0;
            right: 0;
            margin-left: 3rem;
            opacity: 0;
            transform: translateY(1rem);
            z-index: 4;
            display: none;
            
            h3 {
                color: a.$alt-text-color;
                margin-bottom: 1rem;
                font-weight: 300;
                font-family: a.$body-font-family;
            }
            
            .sm-icons {
                display: flex;
                gap: 1.5rem;
                
                a {
                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }
            
            &.visible {
                opacity: 1;
                transform: translateY(0);
                transition: opacity 300ms ease-in, transform 300ms ease-in;
            }
        }
        
        #main-nav.show + #sm-icons-con {
            display: block;
            animation: showIcons 150ms forwards;
            animation-delay: 150ms;
        }
        
        @keyframes showIcons {
            0% {
                opacity: 0;
                transform: translateY(1rem);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    #menu-button {
        @include a.center;

        span {
            margin-left: 1rem;
            color: a.$alt-text-color; 
        }

        #hamburger-menu {
            width: 1.25rem;
            margin-left: 0.75rem;
            margin-top: 0.2rem;
        
            div {
                width: 100%;
                height: 0.075rem;
                background-color: a.$alt-text-color;
                transition: 0.3s ease;
            }
        
            #line1 {
                margin: 0;
                left: 25%;
            }
        
            #line2 {
                margin-top: 0.25rem;
                transform-origin: center;
                transform: scaleX(1);
            }
        
            #line3 {
                margin-top: 0.25rem;
                left: 25%;
            }
        
            &.activate {
                #line1 {
                    transform: translateY(0.35rem) rotate(45deg);
                }
        
                #line2 {
                    transform: scaleX(0);
                    opacity: 0;
                }
        
                #line3 {
                    transform: translateY(-0.35rem) rotate(-45deg);
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {

    #main-header {

        #menu-button {

            span {
                margin-left: 2rem;
            }
        }

    }
}

@media screen and (min-width: 1200px) {
    #main-header {

        #nav-wrapper {
            gap: 3rem;

            #main-nav {
                position: static;
                height: auto;
                overflow: visible;
                background-color: transparent;
                display: flex;
                align-items: center;
                transform: none;
                transition: none;

                ul {
                    flex-direction: row;
                    gap: 3rem;
                    margin: 0;
                    transform: none;
                    
                    li {
                        opacity: 1; 
                        transform: none;
                        margin: 0; 
                        
                        a {
                            font-size: 1rem;
                            color: a.$alt-text-color;
                            transition: all 0.3s ease;
                            position: relative;
                            display: inline-block;
                            width: fit-content;
                            
                            &::after {
                                content: '';
                                position: absolute;
                                bottom: -2px;
                                left: 0;
                                width: 0;
                                height: 1px;
                                background-color: white;
                                transition: width 0.3s ease;
                            }
                            
                            &:hover::after,
                            &.active::after {
                                width: 100%;
                            }
                            
                            &.active,
                            &:hover {
                                font-weight: 600;
                            }

                            &::before {
                                display: none;
                            }

                            &#history-submenu {
                                padding-right: 1.5rem;
                                
                                &::before {
                                    content: url('../images/menu-arrow.svg');
                                    position: absolute;
                                    display: block;
                                    width: 0.5rem;
                                    height: auto;
                                    transform: rotate(90deg);
                                    transition: transform 0.3s ease;
                                    right: 0;
                                    left: 85%;
                                }
                            
                                &:hover::after,
                                &.active::after {
                                    width: 100%;
                                }
                        
                            }
                        }
                    }
                }

                .submenu {
                    top: 100%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: white;
                    padding: 1rem;
                    min-width: 6rem;
                    height: 0;
                    transition: all 0.3s ease;
                    margin-top: 2.25rem;
                    z-index: -1;
                    opacity: 0;
                    display: none;
                    display: block;
                    overflow: hidden;
                    pointer-events: none; 

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 10rem;
                        background-color: transparent;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        top: -0.5rem;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    li {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        margin: 0;
                        
                        a {
                            font-size: 1rem;
                            width: fit-content;
                            display: block;
                            color: a.$tertiary-color;
                            text-align: center;
                            padding: 0.5rem 0rem;
                        }
                    }
                }

                li {
                    position: relative;

                    &:has(#history-submenu) {
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            top: -3rem;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 8rem;
                            height: 8rem;
                            background-color: transparent;
                            transition: background-color 0.3s ease;
                            z-index: -1;
                        }

                        a::after {
                            content: '';
                            position: absolute;
                            bottom: -2px;
                            left: -1rem;
                            width: 0;
                            height: 1px;
                            background-color: white;
                            transition: width 0.3s ease; 
                            max-width: 3.5rem; 
                        }

                        &:hover {
                            a::after {
                                width: 100%;
                            }
                        }

                        &:hover::before {
                            background-color: lighten(a.$tertiary-color, 10%);
                        }
                    }

                    &:hover .submenu {
                        height: 18rem;
                        opacity: 1;
                        pointer-events: all;

                        & + a::after {
                            width: 100%;
                        }
                    }
                }
            }

            #menu-button {
                display: none;
            }

            #sm-icons-con {
                display: none;
            }
        }
    }
}