@use '../abstracts' as a;

#main-header {
    top: 0;
    left: 0;
    right: 0;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
     
    .logo-anchor {
        all: unset;

        .logo {
            height: 4rem;
            cursor: pointer;
            display: flex;
            align-items: center;

            img {
                height: 100%;
            }

            p {
                line-height: 1;
                font-weight: 600;
                margin-left: 1rem;
                font-size: 1.25rem;
                color: a.$alt-text-color;
                font-family: a.$alt-heading-font-family;
            }
        }
    }

    #menu-header {
        display: none;
    }

    #nav-wrapper {
        @include a.center;
 
        #main-nav {
            display: block;
            position: fixed;
            background-color: a.$tertiary-color;
            z-index: 4;
            top: 8rem;
            left: 0;
            right: 0;
            height: 0;
            overflow: hidden; 
            transition: height 0.3s ease-in-out;

            &.show {
                height: calc(100vh - 8rem);
                flex-direction: column;
            }
        
            ul {
                display: flex;
                flex-direction: column;
                list-style: none;
                padding: 0;
                margin: 0;
                transform: translateY(-1rem);
                transition: transform 0.3s ease-in-out;
            }

            &.show ul {
                transform: translateY(1rem);
            }
        
            li {
                margin-left: 3rem;
                margin-top: 1rem;
                position: relative;
                opacity: 0;
                transform: translateY(1rem);
                transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            }

            &.show li {
                opacity: 1;
            }
        
            a {
                color: a.$alt-text-color;
                text-decoration: none;
                font-weight: 300;
                font-size: 1.5rem;
                display: flex;
                align-items: center;

                &::before {
                    content: url('../images/menu-arrow.svg');
                    width: 0.5rem;
                    margin-right: 1.25rem;
                }
            }
        }

        #sm-icons-con {
            position: fixed;
            top: 25rem;
            left: 0;
            right: 0;
            margin-left: 3rem;
            opacity: 0;
            transform: translateY(1rem);
            z-index: 4;
            display: none;
            
            h3 {
                color: a.$alt-text-color;
                margin-bottom: 1rem;
                font-weight: 300;
            }
            
            .sm-icons {
                display: flex;
                gap: 1.5rem;
                
                a {
                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }
            
            &.visible {
                opacity: 1;
                transform: translateY(0);
                transition: opacity 300ms ease-in, transform 300ms ease-in;
            }
        }
        
        #main-nav.show + #sm-icons-con {
            display: block;
            animation: showIcons 150ms forwards;
            animation-delay: 150ms;
        }
        
        @keyframes showIcons {
            0% {
                opacity: 0;
                transform: translateY(1rem);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    #menu-button {
        @include a.center;

        span {
            margin-left: 1rem;
            color: a.$alt-text-color;;
        }

        #hamburger-menu {
            width: 1.25rem;
            margin-left: 0.75rem;
            margin-top: 0.2rem;
        
            div {
                width: 100%;
                height: 0.075rem;
                background-color: a.$alt-text-color;
                transition: 0.3s ease;
            }
        
            #line1 {
                margin: 0;
                left: 25%;
            }
        
            #line2 {
                margin-top: 0.25rem;
                transform-origin: center;
                transform: scaleX(1);
            }
        
            #line3 {
                margin-top: 0.25rem;
                left: 25%;
            }
        
            &.activate {
                #line1 {
                    transform: translateY(0.35rem) rotate(45deg);
                }
        
                #line2 {
                    transform: scaleX(0);
                    opacity: 0;
                }
        
                #line3 {
                    transform: translateY(-0.35rem) rotate(-45deg);
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {

    #main-header {
        padding: 0 2rem;

        #menu-button {

            span {
                margin-left: 2rem;
            }
        }

    }
}

@media screen and (min-width: 1200px) {
    #main-header {
        padding: 1rem 60px;

        #nav-wrapper {
            gap: 3rem;

            #main-nav {
                position: static;
                height: auto;
                overflow: visible;
                background-color: transparent;
                display: flex;
                align-items: center;
                transform: none;
                transition: none;

                ul {
                    flex-direction: row;
                    gap: 3rem;
                    margin: 0;
                    transform: none;
                    
                    li {
                        opacity: 1; 
                        transform: none;
                        margin: 0; 
                        
                        a {
                            font-size: 1rem;
                            color: a.$alt-text-color;

                            &.active {
                                text-decoration: underline;
                                font-weight: 600;
                            }
                            
                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }

            #menu-button {
                display: none;
            }

            #sm-icons-con {
                display: none;
            }
        }
    }
}