@use '../abstracts' as a;

#main-header {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    .logo {
        width: 7rem;
        cursor: pointer;
    }

    #menu-button {
        font-family: a.$heading-font-family;
        border: a.$heading-text-color 2px solid;
        padding: 0.25rem 1.25rem;
        border-radius: 5rem;
        cursor: pointer;

        span {
            @include a.center;

            img {
                height: 1rem;
                margin: 0;
                padding: 0;
            }

        }

    }

    #menu-header {
        display: none;
    }

    #main-nav {
        display: none;

        ul {
            @include a.center;
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {

    #main-header {
        padding: 1rem 2rem;

        .logo svg {
            width: 7rem;
        }
    
        #menu-button {
            font-size: 1.25rem;

            span {
    
                img {
                    height: 1.25rem;
                }
            }
        }

        #menu-header {
            display: block;
            font-size: 1.25rem;
            font-family: a.$heading-font-family;
            color: a.$heading-text-color;
        }
    }
}

@media screen and (min-width: 1200px) {
    
    #main-header {

        .logo svg {
            width: 10rem;
        }

        #menu-button {
            font-size: 1.5rem;

            
            span {
    
                img {
                    height: 1.35rem;
                }
            }
        }

        #menu-header {
            font-size: 1.5rem;
        }
    }
}