@use '../abstracts' as a;

.bg-hero {
    position: relative;
    height: calc(100vh - 6rem);
    overflow: hidden;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            mix-blend-mode: multiply;
            background: linear-gradient(
                to top,
                rgba(#232323, 0.8) 0%,
                rgba(#232323, 0.6) 50%,
                rgba(#232323, 0.4) 100%
            );
            z-index: 1; 

        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hero-section {
        position: relative;
        z-index: 3;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;

        .section-text-con {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 1rem;
            position: relative;
            width: 100%;
            z-index: 4;

            p {
                font-size: 1.25rem;
            }

            .hero-header {
                font-size: 3.5rem;
                margin: 0;
            }

            .section-button {
                margin-top: 2.25rem;
            }
        }

        p {
            margin: 0;
            margin-bottom: -1.25rem;
            color: a.$alt-text-color;
        }

        h3 {
            color: a.$alt-text-color;
        }
    }
}

.bg-subpage-hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url('../images/subpage-banner.png');
    max-height: 275px;
    position: relative;
    display: flex;
    justify-content: flex-start;

    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
        background: linear-gradient(
            to top,
            rgba(#232323, 0.8) 0%,
            rgba(#232323, 0.6) 50%,
            rgba(#232323, 0.4) 100%
        );
        z-index: 1; 

    }

    &#letter-banner {
        background-image: url('../images/letter-banner.jpg');
    }

    .subpage-hero-section {
        margin: 0 auto;
        width: 100%;

        .section-text-con {
            align-self: flex-start;
            z-index: 2;
        
            .section-header {
                color: a.$alt-text-color;
                font-size: 2.5rem;
            }

            .icon-header {
                color: a.$alt-text-color;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .bg-hero {
        .hero-section {
            .section-text-con {
                p {
                    width: 50%;
                }
            }
        }
    }

}