.br-image {
    margin: 0 auto;
    mask-size: contain;
    mask-repeat: no-repeat;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.top-br {
    margin-top: 3rem;
    mask-image: url('../images/top-br.svg');
}

.tall-top-br {
    margin-bottom: 2rem;
    mask-image: url('../images/tall-top-br.svg');
}

.left-br {
    margin-bottom: 3rem;
    mask-image: url('../images/left-br.svg');
}

.right-br {
    margin-bottom: 3rem;
    mask-image: url('../images/right-br.svg');
}

.right-br-thk {
    margin-bottom: 3rem;
    mask-image: url('../images/right-br-thk.svg');
}

@media  screen and (min-width: 768px) {
    .br-image {
        margin: 0;
    }

    .right-br {
        margin-right: 2rem;
    }

    .left-br {
        margin-left: 2rem;
    }
}
