// .top-br {
//     width: 100%;
//     position: relative;
//     overflow: hidden;
    
//     img {
//         object-fit: cover;
//         object-position: center top;
//         display: block;
//         position: absolute;
//         -webkit-mask-image: url('../images/top-br.svg');
//         -webkit-mask-position: center;
//         -webkit-mask-size: contain;
//         -webkit-mask-repeat: no-repeat;
//         mask-image: url('../images/top-br.svg');
//         mask-position: center;
//         mask-size: contain;
//         mask-repeat: no-repeat;
//     }
// }

// .left-br {
//     overflow: hidden;
    
//     img {

//         -webkit-mask-image: url('../images/left-br.svg');
//         -webkit-mask-position: center;
//         -webkit-mask-size: contain;
//         -webkit-mask-repeat: no-repeat;
//         mask-image: url('../images/left-br.svg');
//         mask-position: center;
//         mask-size: contain;
//         mask-repeat: no-repeat;
//     }
// }

.top-br {
    margin-top: 2rem;
}

.left-br {
    margin-bottom: 2rem;
}

@media  screen and (min-width: 768px) {
    .top-br {
        margin-top: 0rem;
    }

    .left-br {
        margin-bottom: 0rem;
    }
    
}