#intro-con {
    text-align: center;

    h3 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    p {
        width: 95%;
        margin: 0 auto;
    }

    #video-con {
        width: 95%;
        margin: 0 auto;
        margin-top: 3rem;
    }
}