#letters-con {
    background-color: lightgray;
    
    #letters {
        text-align: center;

        h2 {
            font-size: 2rem;
        }

        p {
            width: 95%;
            margin: 0 auto;
        }

        img {
            width: 95%;
            margin-top: 2rem;
        }
    }
}