@use '../abstracts' as a;

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.dot-header {
    display: flex;
    align-items: center;
    margin: 0;
    position: relative;
    padding-left: 0.75rem;
    font-weight: 400;

    &::before {
        content: '';
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        background-color: a.$heading-text-color;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
}

.section-header {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    color: a.$heading-text-color;
    text-align: left;

    &.hero-header {
        font-size: 3.5rem;
    }
}


.section-text {
    text-align: left;
}

.section-button {
    display: block;
    width: fit-content;
    background-color: a.$secondary-accent-color;
    color: a.$alt-text-color;
    border: none;
    padding: 0.75rem 2.5rem;
    margin-top: 1.5rem;
    border-radius: 2rem;
    text-align: center;
    font-weight: 600;
}

@media screen and (min-width: 1200px) {
  
    .section-text-con {
        width: 50%;
    }

    .section-image-con {
        width: 50%;
    }
    
    .section-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
