@use '../abstracts' as a;

#timeline {
    position: relative;
    width: 95%;
    margin: 5rem auto;

    .timeline-line {
        position: absolute;
        left: 10%;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: a.$body-text-color;
        transform: translateX(-50%);
        z-index: 1;
        overflow: hidden;
    }

    #timeline-progress {
        position: absolute;
        width: 100%;
        background: a.$accent-color;
        left: 0;
        top: 0;
        height: 0;
        z-index: 2;
    }
    
    .timeline-item {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 2;
    
        .timeline-dot {
            position: absolute;
            left: 10%;
            top: 50%;
            width: 1.15rem;
            height: 1.15rem;
            background: a.$body-text-color;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease;
    
            &::before {
                content: '';
                position: absolute;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    
        .timeline-content {
            display: flex;
            flex-direction: column;
            width: 60%;
            margin: 0 auto;
            margin-right: 2rem;
            padding: 2rem;
            gap: 2rem;
    
            div {
                opacity: 0;
                transition: all 0.6s ease-in-out;
            }

            .timeline-image {
                img {
                    border-radius: 0.5rem;
                }
            }
        }

        .timeline-text {
            h3 {
                margin: 0;
                font-size: 1.25rem;

                span {
                    font-size: 1.5rem;
                }
            }

            .timeline-year {
                color: a.$accent-color;
                font-family: La Belle Aurore, cursive;
                color: a.$heading-text-color;
                font-size: 1rem;
                font-weight: 700;
            }
           
            p {
                margin: 0;
                font-size: 0.9rem;

                &:last-of-type {
                    margin-top: 1rem;
                }
            }
        }
    
        &.active {
            .timeline-dot {
                background: a.$accent-color;
                transform: translate(-50%, -50%) scale(1.05);
                transition: all 150ms ease;
                border: a.$body-text-color 5px solid;
            }
    
            .timeline-content div {
                opacity: 1;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #timeline {
        width: 95%;

        .timeline-line {
            left: 50%;
        }

        .timeline-item {

            .timeline-dot {
              left: 50%;
            }
            
            
            .timeline-text {
              h3 {
                  font-size: 1.75rem;

                  span {
                      font-size: 2.25rem;
                  }
              }

              .timeline-year {
                  font-size: 1.2rem;
              }

              p {
                  font-size: 1rem;
              }
            }

            .timeline-content {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 9rem;     
                width: 100%;
                margin: 0 auto;

                div {
                  width: 48%;
                }

                .timeline-image {
                  @include a.center;
                }
            }

            &:nth-child(odd) .timeline-content {
                flex-direction: row-reverse;
                .timeline-text { 
                    text-align: right;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
  #timeline {
      width: 90%;

      .timeline-item {

          .timeline-text {
            h3 {
                font-size: 2.5rem;
  
                span {
                    font-size: 3.5rem;
                }
            }
  
            .timeline-year {
                font-size: 1.25rem;
            }
        }
  
      }
  }
}