@use '../abstracts' as a;

#timeline-wrapper {
    padding: 3rem 0;

    .section-text-con {
        margin: 0;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        padding: 0;
        
        h3, h4, p {
            color: a.$alt-text-color;

            &::before {
                background-color: a.$alt-text-color;
            }
        }
    }
}

#timeline {
    position: relative;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    color: a.$alt-text-color;

    .timeline-line {
        position: absolute;
        left: 10%;
        top: 0;
        bottom: 0;
        width: 4px;
        background-color: a.$alt-text-color;
        transform: translateX(-50%);
        z-index: 1;
        overflow: hidden;
        border-radius: 10rem;
    }

    #timeline-progress {
        position: absolute;
        width: 100%;
        background: #D0893B;
        left: 0;
        top: 0;
        height: 0;
        z-index: 2;
    }
    
    .timeline-item {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 2;
        margin-top: 3rem;
    
        .timeline-dot {
            position: absolute;
            left: 10%;
            top: 50%;
            width: 0.8rem;
            height: 0.8rem;
            background: a.$secondary-color;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            border: a.$alt-text-color 5px solid;
    
            &::before {
                content: '';
                position: absolute;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    
        .timeline-content {
            display: flex;
            flex-direction: column;
            width: 60%;
            margin: 0 auto;
            margin-right: 2rem;
            padding: 2rem;
            gap: 2rem;
    
            div {
                opacity: 0;
                transition: all 0.6s ease-in-out;
            }

            .timeline-image {
                img {
                    border-radius: 0.5rem;
                }
            }
        }

        .timeline-text {
            h3 {
                margin: 0;
                font-size: 1.25rem;
                color: a.$alt-text-color;
                font-weight: 600;
            }

            .timeline-year {
                color: a.$secondary-accent-color;
                font-style: italic;
                color: a.$heading-text-color;
                color: a.$alt-text-color;
                font-size: 1rem;
                font-weight: 300;
            }
           
            p {
                margin: 0;
                font-size: 0.9rem;

                &:last-of-type {
                    margin-top: 1rem;
                }
            }

            .section-button {
                background-color: a.$primary-accent-color;
                padding: 0.65rem 1.5rem;
            }
        }
    
        &.active {
            .timeline-dot {
                background: a.$primary-accent-color;
            }
    
            .timeline-content div {
                opacity: 1;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    #timeline-wrapper {
        padding: 10rem 0;

        .section-text-con {
            margin-bottom: 10rem;
        }
    }
    
    #timeline {
        width: 95%;

        .timeline-line {
            left: 50%;
        }

        .timeline-item {

            .timeline-dot {
              left: 50%;
            }
            
            
            .timeline-text {
              h3 {
                  font-size: 1.75rem;
              }

              .timeline-year {
                  font-size: 1.2rem;
              }

              p {
                  font-size: 1rem;
              }

            }

            .timeline-content {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 9rem;     
                width: 100%;
                margin: 0 auto;

                div {
                  width: 40%;
                }

                .timeline-image {
                  @include a.center;
                  justify-content: flex-start;
                }
            }

            &:nth-child(even) .timeline-image {
                justify-content: flex-end;
            }

            &:nth-child(odd) .timeline-content {
                flex-direction: row-reverse;
            }
        }

        .timeline-item {
            .timeline-content {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                gap: 5rem;
                width: 90%;
                margin: 0 auto;
                padding: 2rem 0;

                .timeline-image {

                    img {
                        width: 100%;
                    }
                }
            }

            &:nth-child(odd) {
                .timeline-content {
                    flex-direction: row;
                }
            }
        }

        .timeline-item {
            .timeline-content {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 5rem;
                width: 90%;
                margin: 0 auto;
                padding: 2rem 0;

                div {
                    &.timeline-image, &.timeline-text {
                        flex: 0 0 47.5%;
                    }
                }
            }

            &:nth-child(even) {
                .timeline-content {
                    flex-direction: row;
                }
            }

            &:nth-child(odd) {
                .timeline-content {
                    flex-direction: row-reverse;
                }
            }
        }

        .timeline-item {
            .timeline-content {
                width: 100%;
                padding: 2rem 10%;
                margin: 0;
                gap: 0;

                div {
                    &.timeline-image, &.timeline-text {
                        flex: 0 0 35%;
                    }
                }
            }

        }
    }
}

@media screen and (min-width: 1200px) {

  #timeline {

      .timeline-item {

          .timeline-text {
            h3 {
                font-size: 2rem;
            }
  
            .timeline-year {
                font-size: 1rem;
            }
        }
  
      }
  }
}