@use '../abstracts' as a;

.hidden {
    display: none;
}

img, embed, object, video, picture {
    max-width: 100%; 
}
  
html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box; 
    scroll-behavior: smooth;
    position: relative;
    line-height: 1.5;
    z-index: 0;
    background-color: a.$primary-color;
}

a, button {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

input, textarea {
    color: inherit;
    font-family: inherit;
}

.bg-primary {
    background-color: a.$primary-color;
}

.bg-secondary {
    background-color: a.$secondary-color;
}

.bg-tertiary {
    background-color: a.$tertiary-color;
}

@media screen and (min-width: 768px) {

    html, body {
        font-size: 16px;
    }

}

@media screen and (min-width: 1200px) {

    html, body {
        font-size: 18px;
    }

}
    