@use '../abstracts' as a;

.hidden {
    display: none;
}

img, embed, object, video, picture {
    max-width: 100%; 
}
  
html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box; 
    position: relative;
    line-height: 1.5;
    z-index: 0;
    background-color: a.$primary-color;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/main-background.png');
    background-repeat: repeat;
    z-index: -1;
    opacity: 0.85;
    pointer-events: none;
    mix-blend-mode: multiply; 
}

body.menu-open {
    overflow: hidden;
    padding-right: var(--scrollbar-width);
    background-color: a.$tertiary-color;
    background-image: none;
    
    &::before {
        display: none;
    }
}

[v-cloak] {
    display: none;
}

a, button {
    text-decoration: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

input, textarea {
    color: inherit;
    font-family: inherit;
}

.bg-primary {
    background-color: a.$primary-color;
}

.bg-secondary {
    background-color: a.$secondary-color;
    position: relative;
    isolation: isolate; 

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/main-background.png');
        background-repeat: repeat;
        z-index: -1;
        pointer-events: none;
        opacity: 0.85;
        mix-blend-mode: multiply; 
    }
}

.bg-tertiary {
    background-color: a.$tertiary-color;
    position: relative;
    isolation: isolate; 

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        mix-blend-mode: multiply; 
    }

    &#header-background {
        isolation: unset;
    }

    &#event-background::before {
        background-image: url('../images/event-background.png');
    }

    &#partners-background::before {
        background-image: url('../images/partners-background.png');
    }

    &#phases-background::before {
        background-image: url('../images/phases-background.png');
    }

    &#srishti-background::before {
        background-image: url('../images/srishti-background.png');
    }

    &#video-background::before {
        background-image: url('../images/video-background.png');
    }

    &.history-background::before {
        background-image: url('../images/history-background.png');
        background-repeat: repeat;
        opacity: 0.5;
        background-size: unset;
        background-position: unset;
    }

}

.bg-accent {
    background-color: rgba(a.$primary-accent-color,0.9);
}

#video-con {
    width: 100%;
}

.video-con {
    overflow: hidden;
    border-radius: 0.75rem;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    
    .plyr--video {
        --plyr-color-main: #BE1E2D;
        --plyr-control-icon-size: 1rem;
        --plyr-control-radius: 1.25rem;
        --plyr-font-family: 'Alexandria', 'Inter', sans-serif;
        --plyr-control-spacing: 1rem;
        --plyr-range-fill-background: #fff;
        --plyr-range-thumb-background: #BE1E2D;
    }
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;
    cursor: pointer;
}

.donate-btn {
    border: none;
    @include a.center;
    background-color: a.$primary-accent-color;
    color: a.$alt-text-color;
    font-family: a.$body-font-family;
    font-size: 1.15rem;
    border-radius: 10rem;
    margin: 3rem auto;
    padding: 0.5rem 1.25rem;
    font-weight: 600;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: lighten(a.$primary-accent-color, 10%);
    }

    a {
        all: unset;
    }
}

.sepia-filter {
    filter: sepia(70%) saturate(120%) brightness(90%) contrast(90%) hue-rotate(-15deg);
}

.error, .errors {
    color: a.$primary-accent-color;
}

#support-con {
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 7rem;

    h3 {
        text-align: center;
        margin-bottom: 2rem;
        color: a.$alt-text-color;
    }

    a {
        background-color: a.$primary-accent-color;
        margin: 0 auto;
        padding: 0.75rem 1.5rem;
    }

    .section-button {
        @include a.center;

        img {
            margin-left: 0.5rem;
            width: 1.3rem; 
        }
    }

    &.inverted {

        h3 {
            color: a.$heading-text-color;
        }
        
        .section-button {
            background-color: a.$secondary-accent-color;
        }
    }
}


@media screen and (min-width: 768px) {

    html, body {
        font-size: 16px;
    }

    .donate-btn {
        padding: 0.75rem 2rem;
    }

}

@media screen and (min-width: 1200px) {
    html, body {
        font-size: 18px;
    }
}

@media screen and (min-width: 1440px) {
    html, body {
        font-size: 20px;
    }
}

@media screen and (min-width: 1920px) {
    html, body {
        font-size: 22px;
    }
}
