@use '../abstracts' as a;

.hidden {
    display: none;
}

img, embed, object, video, picture {
    max-width: 100%; 
}
  
html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box; 
    scroll-behavior: smooth;
    position: relative;
    line-height: 1.5;
    z-index: 0;
    background-color: a.$primary-color;
}

body.menu-open {
    overflow: hidden;
    padding-right: var(--scrollbar-width);
}

a, button {
    text-decoration: none;
    color: inherit;
    font: inherit;
    scroll-behavior: smooth;
}

input, textarea {
    color: inherit;
    font-family: inherit;
}

.bg-primary {
    background-color: a.$primary-color;
}

.bg-secondary {
    background-color: a.$secondary-color;
}

.bg-tertiary {
    background-color: a.$tertiary-color;
}

.bg-accent {
    background-color: rgba(a.$primary-accent-color,0.9);
}

.video-con {
    overflow: hidden;
    border-radius: 0.75rem;
    
    .plyr--video {
        --plyr-color-main: #9E2A2B;
        --plyr-control-icon-size: 1rem;
        --plyr-control-radius: 1.25rem;
        --plyr-font-family: Roboto, Arial, sans-serif;
        --plyr-control-spacing: 1rem;
        --plyr-range-fill-background: #fff;
        --plyr-range-thumb-background: #9E2A2B;
    }
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;
    cursor: pointer;
}

.donate-btn {
    border: none;
    @include a.center;
    background-color: a.$primary-accent-color;
    color: a.$alt-text-color;
    font-family: a.$body-font-family;
    font-size: 1.15rem;
    border-radius: 10rem;
    margin: 3rem auto;
    padding: 0.75rem 1.75rem;
    font-weight: 600;
    font-size: 1rem;

    a {
        all: unset;
    }

    img {
        margin-left: 0.5rem;
        width: 1.3rem;
    }
}

#support-con {
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 7rem;

    h3 {
        text-align: center;
        margin-bottom: 2rem;
        color: a.$alt-text-color;
    }

    a {
        background-color: a.$primary-accent-color;
        margin: 0 auto;
        padding: 0.75rem 1.5rem;
    }

    .section-button {
        @include a.center;

        img {
            margin-left: 0.5rem;
            width: 1.3rem; 
        }
    }

    &.inverted {

        h3 {
            color: a.$heading-text-color;
        }
        
        .section-button {
            background-color: a.$secondary-accent-color;
        }
    }
}


@media screen and (min-width: 768px) {

    html, body {
        font-size: 16px;
    }

}

@media screen and (min-width: 1200px) {

    html, body {
        font-size: 18px;
    }

}
    