@use '../abstracts' as a;

.battle-section-wrapper:nth-of-type(odd) {
    background-color: a.$secondary-color;
    position: relative;
    isolation: isolate; 

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/main-background.png');
        background-repeat: repeat;
        z-index: -1;
        pointer-events: none;
        opacity: 0.85;
        mix-blend-mode: multiply; 
    }
}

.battle-section {
    #support-quote {
        margin: 2rem auto;
    }

    #battle-start {
        font-size: 1.25rem;
        margin: 0;
        margin-bottom: 0.5rem;
        font-family: a.$body-font-family;
    }

    .image-container {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 0.5rem;
        }
    }

    &.special-layout {

        &#mobilization {
            display: flex;
            flex-direction: column;
        }

        .col-span-full {
            display: flex;
            flex-direction: column;
        }

        .image-container {
            margin-bottom: 2rem;
        }
    }

    .section-text {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .battle-section {
        .image-container {
            flex-direction: row;
            gap: 1.5rem;

            img {
                width: 50%;
            }
        }

        &.special-layout {
            
            &#mobilization {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2rem;
            }
            
            .col-span-full {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 3rem;
            }

            .image-container {
                margin-top: 0;
                margin-bottom: 0;
                width: 50%;
                
                img {
                    width: 100%;
                }
            }

            .content {
                width: 50%;
            }
        }
    }

    .battle-section-wrapper:nth-last-of-type(2) {
        .battle-section.special-layout .col-span-full {
            flex-direction: row-reverse;
        }
    }   

}
