@use '../abstracts' as a;

#hero-con {
    padding-top: 2rem;
}

#donation-stats {
    text-align: center;
    color: a.$alt-text-color;
    padding: 2rem;
    font-weight: 700;
    position: relative;
    isolation: isolate;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url('../images/donation-stats-banner.png');
        background-size: cover;
        z-index: -1;
        filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.5));
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(a.$tertiary-color, 0.6);
        z-index: -1;
    }

    div {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        p {
            line-height: 1.7;
            filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.5));
        }

        span {
            font-size: 2rem;
        }
    }
}

#about-con {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
    justify-content: center;
    align-items: center;

    .section-text {
        width: 80%;
    }

}

#news-con {
    background-color: a.$secondary-color;

    h4 {
        margin-bottom: 1rem;
    }

    .section-button {
        padding: 0.75rem 1.5rem;
    }

    #articles {
        margin-top: 3rem;
  
        .line-break {
            border: a.$body-text-color solid 1px;
            border-radius: 1rem;
            margin: 0 auto;
            margin: 3rem auto;
        }


        .article {
            
            img {   
                width: 50%;
                aspect-ratio: 1 / 1;
                border-radius: 0.5rem;
                margin-bottom: 1rem;
            }
        
            h5 {
                font-size: 1.25rem;
                font-weight: 600;
                margin: 0;
            }
        
            h6 {
                font-size: 1rem;
                font-weight: 600;
                margin: 0;
            }

            p {
                margin: 0;
                margin-top: 0.5rem;
            }
        
        }
    }

    #updates-arrows {
        margin: 0 auto;
        margin-top: 5rem;
        display: flex;
        gap: 2rem;

        span{
            color: a.$alt-text-color;
            font-size: 2rem;
            background-color: a.$secondary-accent-color;
            border-radius: 50%;
            padding: 0.5rem;
        }
    }  
}

#featured-events-con {
    display: flex;
    align-items: center;

    span {
        color: a.$alt-text-color;
        font-size: 2rem;
        margin: -1rem;
    }

    .section-text-con {
        color: a.$alt-text-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3, h4 {
            color: a.$alt-text-color;
            text-align: center;

            &::before {
                background-color: a.$alt-text-color;
            }
        }
    }

    .section-image-con {
        margin-top: 2rem;
        
        img {
            border-radius: 0.25rem;
        }
    }
}

#history-con {
    
    #history-images {
        display: flex;
        gap: 1rem;

    }   
}

#partners-con {
    display: flex;
    flex-direction: column;
    background-color: a.$secondary-color;

    #partners {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 3rem;
        place-items: center;
       
        img {
            width: 60%;

            &:first-child {
                width: 80%;
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    #donation-stats {
        div {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    #about-con {
        flex-direction: row;
        justify-content: space-between;
    }

    #news-con {

        #news-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            
            h4 {
                margin: 0;
            }

            a {
                margin-bottom: 0.75rem;
            }
        }

        #articles {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 3rem;

            .line-break {
                height: 100%;
            }
        }
    }

    #featured-events-con {
        display: flex;
        align-items: center;
    
        span {
            font-size: 3rem;
        }

        #event-wrapper {
            display: flex;
            flex: 1;
            justify-content: center;
            gap: 2rem;
            max-width: 85%;
        }
    
        .section-text-con {
            align-items: unset;
    
            h4 {
                text-align: left;
                font-size: 2rem;
            }
        }
    
        .section-image-con {
            margin-top: 2rem;
            width: 45%;
            
            img {
                border-radius: 0.25rem;
            }
        }

        .section-button {
            background-color: a.$primary-accent-color;
            margin-top: 0.5rem;
        }
    }

    #history-con {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .section-text-con {
            width: 50%;
            margin-left: 1rem;
        }
    
        .section-image-con {
            width: 50%;
        }
    
        .section-text {
            width: 90%;
        }
    }

    #partners-con {

        #partners {

            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            margin: 5rem auto 2rem auto;

            img {
                width: 10%;

                &:first-child {
                    width: 15%;
                }
            }
        }
    }
}