@use '../abstracts' as a;

section {
    padding-bottom: 2rem;
}

.video-con {
    width: 95%;
    margin: 0 auto;
    margin: 3rem 0;
    overflow: hidden;
    border-radius: 1rem;
    
    .plyr--video {
        --plyr-color-main: #B91A17;
        --plyr-control-icon-size: 1rem;
        --plyr-control-radius: 1.25rem;
        --plyr-font-family: Arial, Georgia, sans-serif;
        --plyr-control-spacing: 1rem;
        --plyr-range-fill-background: #fff;
        --plyr-range-thumb-background: #B91A17;
    }
}     