@use '../abstracts' as a;

#letters-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #letters-con {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin: 0 auto;
    }

    #soldier-info {
        text-align: center;

        #soldier-image {
            width: 15rem;
            height: 20rem;
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
                border-radius: 0.5rem;
                object-fit: cover;
                max-width: 15rem;
            }
        }

        #soldier-name {
            margin-bottom: 0.25rem;
            font-size: 1.5rem;
        }

        #letter-to {
            margin: 0;

            b {
                font-weight: 600;
            }
        }
    }

    #letter-content {
        background-color: a.$secondary-color;
        padding: 2.5rem 3rem;
        min-width: 23rem;
        max-width: 23rem;
        height: auto; 
        min-height: 25rem; 
        display: flex;
        flex-direction: column;
        background: url('../images/letter-background.png') no-repeat center center/cover;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 30px;

        &::after {
            content: '';
            position: absolute;
            bottom: -25px;
            left: 0;
            width: 100%;
            height: 100px;
            background: url('../images/paper-shadow-short.png') no-repeat center center/100% 100%; // Changed to 100% width and height
            z-index: -1;
        }

        #letter {
            position: relative;
            min-height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            #letter-text-container {
                position: relative;
                flex-grow: 1;

                
                #full-text {
                    visibility: hidden;
                    font-family: 'Zeyada', cursive;
                    font-size: 1.5rem;
                    margin: 0;

                }
                
                #letter-text {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    color: a.$body-text-color;
                    font-family: 'Zeyada', cursive;
                    font-size: 1.5rem;
                    margin: 0;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    word-break: break-word;
                }
            }

            #letter-date-container {
                position: relative;
                padding-top: 2rem;
                height: 2rem;
                
                #date-spacer {
                    opacity: 0;
                    font-size: 1.5rem;
                    font-family: 'Zeyada', cursive;
                    margin: 0;
                    text-align: right;
                }
                
                #letter-date {
                    position: absolute;
                    top: 2rem;
                    left: 0;
                    font-size: 1.5rem;
                    font-family: 'Zeyada', cursive;
                    margin: 0;
                    white-space: nowrap;
                }
            }
        }
    }
}

#letter-navigation {
    display: flex;
    gap: 2rem;
    overflow: hidden;
    padding: 5rem 2rem;

    .letter-box {
        flex: 0 0 10.5rem;
        height: 15rem;
        background-color: a.$secondary-color;
        padding: 2rem 1.5rem;
        border-radius: 0.5rem;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url('../images/letter-nav-background.png') no-repeat center center/cover;

        &:not(.active) {
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: rgba(0, 0, 0, 0);
                transition: background-color 0.3s ease;
                pointer-events: none;
            }

            &:hover {
                &::before {
                    background: rgba(0, 0, 0, 0.7);
                }
            }

            &::after {
                content: url('../images/info-icon.svg') "Learn More";
                position: absolute;
                inset: 0;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.2rem;
                font-weight: 600;
                gap: 0.5rem;
                opacity: 0;
                transition: opacity 0.3s ease;
                z-index: 1;
                pointer-events: none;
            }

            &:hover::after {
                opacity: 1;
            }
        }

        &.active {
            background-color: a.$primary-accent-color;
            transform: translateY(-1rem) !important;
        }

        p {
            margin: 0;
            font-size: 1.1rem;
            font-family: a.$heading-font-family;
            font-weight: 500;
        }

        .letter-date {
            font-size: 0.8rem;
            color: a.$body-text-color;
            font-family: a.$heading-font-family;
            margin-top: 0.5rem;
            font-weight: 400;
        }
    }
}


@media screen and (min-width: 768px) {
    #letters-section {
        #letters-con {
            flex-direction: row-reverse;

            #letter-content {
                margin-right: 2rem;
            }
        }

        #soldier-info {

            #soldier-image {
                margin: 0;
            }

            #soldier-name {
                text-align: left;
            }

            #letter-to {
                text-align: left;
            }
        }
    }
}
