@use '../abstracts' as a;

#news-con {
    #articles {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 3rem;
    }

    #pager {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin-top: 1rem;

        .page-number {
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.25rem;
            cursor: pointer;
            font-weight: 500;

            &.active {
                background-color: a.$primary-accent-color;
                color: a.$alt-text-color;
            }
        }

    }
}

@media screen and (min-width: 768px) {
    #news-con {
        #articles {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 1200px) {
    #news-con {
        #articles {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}